@model AWSFeatureProject.Models.FileUpdate
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px; /* Rounded border */
        padding: 5px; /* Some padding */
        width: 150px; /* Set a small width */
    }

        /* Add a hover effect (blue shadow) */
        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
</style>
<h2>Details</h2>
<div>
    <h4>FileUpdate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.upload_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.upload_date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.updated_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.updated_date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.file_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.file_name)
        </dd>
        <dt>
            @Html.DisplayName("Thumbnail")
        </dt>
        <dd>
            <a target="_blank" href="@Url.Content("http://d3jipjupqa8jtl.cloudfront.net/" + Model.file_name)">
                <img src="@Url.Content("http://d3jipjupqa8jtl.cloudfront.net/" + Model.file_name)" alt="@Model.file_name" />
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.file_desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.file_desc)
        </dd>
    </dl>
</div>
@*<img src="~/images/banner2.svg" />*@
<div>
    <a asp-action="Index" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" style="color:white; margin-right:5px;" aria-hidden="true"></span>Back to List</a>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" style="color:white; margin-right:5px;" aria-hidden="true"></span>Edit</a>

</div>
